
@import 'variables.scss';

.tabbed-component {



  %tab {
    list-style-type: none;
    display: inline-block;
    padding: .5rem;
    cursor: pointer;
  }

  .tab-uk-news {
    @extend %tab;
    background: unfocused-color($news);

    &.active {
      background: $news;
    }
  }

  .tab-football {
    @extend %tab;
    background: unfocused-color($sports);

    &.active {
      background: $sports;
    }
  }

  .tab-travel {
    @extend %tab;
    background: unfocused-color($travel);

    &.active {
      background: $travel;
    }
  }
}
