
//Colours

$lightness-percent: 30%;

$news: 	#d61d00;
$news-lighter: lightnen($news, $lightness-percent);

$sports: #008000;
$sports-lighter: lightnen($sports, $lightness-percent);

$travel: #066ec9;
$travel-lighter: lightnen($travel, $lightness-percent);
